<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css"/>
  <title>About - John Baizley</title>
</head>
<body>
  <div class="content about">
    <h1>About</h1>
    <div class="about">
      <section>
        <img id="img-solo" src="/images/about/Baroness_@_Roadburn_Festival_2017_06.jpg" alt="">
        <p>
          John Dyer Baizley was born in Pittsburgh, Pennsylvania, on October 10,
          1977. He sings and plays guitar for the band metal band Baroness. Not
          only is he a musician, but he also creates the album artwork for
          Baroness, and has also done album art for other bands. Baroness
          started in 2003 in Savanah, Georgia, and has released five studio
          albums, all of which use colors as their titles and themes.
        </p>
      </section>
      <section>
        <p>
          On August 15, 2012, while the band was on tour, they were involved in
          a road accident when the bus in which the band were traveling fell
          from a viaduct in England. Most of the band members suffered injuries
          from the accident, with John Baizley having a broken arm and a broken
          leg. Despite the accident, they continued planning tours and were
          performing again soon after their recovery.
        </p>
        <img id="img-band" src="/images/about/baroness-2019-cr-Pam-Strohm-billboard-1548.webp" alt="">
      </section>
    </div>
    <a class="back" href="/">Back</a>
  </div>
</body>
</html>