<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css"/>
  <title>Gallery - John Baizley</title>
</head>
<body>
  <div class="content">
    <h1>Gallery</h1>
    <section class="gallery">
      <h3>Baroness Album Covers</h3>
      <ul class="gallery-imgs">
        <li>
          <figure>
            <img src="/images/gallery/baroness-red.webp">
            <figcaption>
              <cite>Red Album</cite>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/gallery/baroness-blue.jpg">
            <figcaption>
              <cite>Blue Record</cite>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img class="double" src="/images/gallery/baroness-yellow-and-green.webp">
            <figcaption>
              <cite>Yellow and Green</cite>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/gallery/baroness-purple.jpg">
            <figcaption>
              <cite>Purple</cite>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/gallery/baroness-goldgrey.jpg">
            <figcaption>
              <cite>Gold and Grey</cite>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <section class="gallery">
      <h3>Other Artworks by John Baizely</h3>
      <ul class="gallery-imgs">
        <li>
          <figure>
            <img src="/images/gallery/four-horsemen.jpg">
            <figcaption>
              <cite>Four Horsemen</cite> - Illustration created for a Metallica t-shirt
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/gallery/beyond-the-permafrost.jpg">
            <figcaption>
              <cite>Beyond the Permafrost</cite> - Album art for Skeletonwitch
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/gallery/baizley-serpents.webp">
            <figcaption>
              <cite>Serpents Unleashed</cite> - Album art for Skeletonwitch
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="/images/gallery/john-dyer-baizley-gillian.jpg">
            <figcaption>
              <cite>The Harrow and the Harvest</cite> - Album art for Gillian Welch
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <a class="back" href="/">Back</a>
  </div>
</body>
</html>